{%- extends 'lab/index.html.j2' -%}

{%- block html_head_js_requirejs -%}
  <link rel="icon" href="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0
                         0 384 512' fill='gray'><path d='M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM153 289l-31 31 31 31c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L71 337c-9.4-9.4-9.4-24.6 0-33.9l48-48c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9zM265 255l48 48c9.4 9.4 9.4 24.6 0 33.9l-48 48c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l31-31-31-31c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0z'/></svg>">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
  <script type="text/javascript">
    {% include "static/copybutton.js" %}
  </script>
<script src="{{ resources.require_js_url }}"></script>
{%- endblock html_head_js_requirejs -%}

{%- block html_head_css -%}
  {{ super() }}
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
  integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm"
        crossorigin="anonymous">
  {{ resources.include_css("static/styles.css") }}
  {{ resources.include_css("static/copybutton.css") }}
{%- endblock html_head_css -%}

{% block body_header %}
  <body class="jp-Notebook theme-light" style="padding: 0; margin: 0;">
  <div class="header" style="width: {{nb.metadata.width|default('50%')}};">
    {% set nb_title = nb.metadata.get("title") %}  {# or resources["metadata"]["name"] %} #}
    {% if nb_title %}
      <p id="title"> {{nb_title}}</p>
    {% endif %}
    {% if "authors" in nb.metadata %}
      <p style="font-size:50%; padding-left: 70px">{{nb.metadata.authors | join(', ', attribute='name')}}</p>
    {% endif %}
  </div>
  <div style="padding: 0px; margin: 20px; width: {{nb.metadata.width|default('50%')}}; margin-left: auto; margin-right: auto;">
  {{ super() }}
{% endblock body_header %}

{% block body_footer %}
  </div>
  </body>
  {{ super() }}
  <div class="footer">
    {% set footer = nb.metadata.get("footer") %}
    {{ footer|default('@footer@', true) }}
  </div>
{% endblock body_footer %}
