{%- extends 'lab/index.html.j2' -%}

{%- block html_head_js_requirejs -%}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
  <script type="text/javascript">
    {% include "static/copybutton.js" %}
  </script>
<script src="{{ resources.require_js_url }}"></script>
{%- endblock html_head_js_requirejs -%}

{%- block html_head_css -%}
  {{ super() }}
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
  integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm"
        crossorigin="anonymous">
  {{ resources.include_css("static/styles.css") }}
  {{ resources.include_css("static/copybutton.css") }}
{%- endblock html_head_css -%}

{% block body_header %}
  <body class="jp-Notebook theme-light" style="padding: 0; margin: 0;">
  <div class="header">
    {% set nb_title = nb.metadata.get("title") or resources["metadata"]["name"] %}
    <p id="title"> {{nb_title}}</p>
    {% if "authors" in nb.metadata %}
      <p style="font-size:50%; padding-left: 70px">{{nb.metadata.authors | join(', ', attribute='name')}}</p>
    {% endif %}
  </div>
  <div style="padding: 100px; margin: 20px; width: 80%; margin-left: auto; margin-right: auto;">
  {{ super() }}
{% endblock body_header %}

{% block body_footer %}
  </div>
  </body>
  {{ super() }}
{% endblock body_footer %}
