@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  /* --headings: #696969; */
  --black: #2f3337;
  /* --gray: #656e77; */
  /* --red: #c02d2e; */
  /* --blue: #015692; */
  /* --green: #54790d; */
  /* --orange: #b75501; */
  /* --violet: #803378; */
  --red: #c44e52;
  --blue: #4c72b0;
  --green: #55A868;
  --orange: #dd8452;
  --violet: #8172b3;
  --headings: var(--blue);
  --highlight-background: #f6f6f6;
  --border-radius: 0.4em;
  --border-left: 3px solid lightgrey;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: var(--headings);
}
html {
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.jp-RenderedHTMLCommon {
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  /* line-height: var(--jp-content-line-height); */
  padding-right: 20px;
}

pre {
  margin: 10px 5px;
}

.jp-RenderedHTMLCommon :not(pre) > code {
  font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}
.header {
  overflow: hidden;
  background-color: white;
  color: var(--headings);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 35px;
  padding-left: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
}
.header p#title:before {
  font-family: "Font Awesome 6 Free";
  content: "\f085"
}

.footer {
  clear: both;
  color: lightgrey;
  text-align: center;
  font-size:12px;
  padding: 1em;
}

.jp-CodeCell .jp-InputArea-editor {
  border: none;
}
.jp-CodeCell .jp-InputArea {
  border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
  border-radius: var(--border-radius);
  border-left: var(--border-left);
  padding-bottom: 2px !important;
  padding-top: 2px !important;
  padding-left: 5px !important;
  background: var(--highlight-background) !important;
  color: var(--black) !important;
}
.highlight .kn  { color: var(--blue); font-weight: normal }
.highlight .c   { color: var(--gray); font-style: italic }
.highlight .err { color: var(--red) }
.highlight .k   { color: var(--blue); font-weight: normal }
.highlight .o   { color: var(--black); font-weight: normal }
.highlight .cm  { color: var(--gray); font-style: italic }
.highlight .cp  { color: var(--gray); font-weight: bold }
.highlight .c1  { color: var(--gray); font-style: italic }
.highlight .cs  { color: var(--gray); font-weight: bold; font-style: italic }
.highlight .gd  { color: var(--red) }
.highlight .gr  { color: var(--red) }
.highlight .gh  { color: var(--gray) }
.highlight .gi  { color: var(--green) }
.highlight .gs  { color: var(--orange); font-weight: normal }
.highlight .gu  { color: var(--gray) }
.highlight .gt  { color: var(--red) }
.highlight .kc  { color: var(--orange); font-weight: normal }
.highlight .kd  { color: var(--orange); font-weight: normal }
.highlight .kp  { color: var(--orange); font-weight: normal }
.highlight .kr  { color: var(--orange); font-weight: normal }
.highlight .kt  { color: var(--violet); font-weight: normal }
.highlight .m   { color: var(--orange) }
.highlight .s   { color: var(--green) }
.highlight .na  { color: var(--blue) }
.highlight .nb  { color: var(--blue) }
.highlight .nc  { color: var(--violet); font-weight: bold }
.highlight .no  { color: var(--orange) }
.highlight .ni  { color: var(--violet) }
.highlight .ne  { color: var(--violet); font-weight: bold }
.highlight .nf  { color: var(--orange); font-weight: normal }
.highlight .nn  { color: var(--violet) }
.highlight .nt  { color: var(--orange) }
.highlight .nv  { color: var(--orange) }
.highlight .ow  { color: var(--orange); font-weight: normal }
.highlight .w   { color: var(--gray) }
.highlight .mf  { color: var(--orange) }
.highlight .mh  { color: var(--orange) }
.highlight .mi  { color: var(--orange) }
.highlight .mo  { color: var(--orange) }
.highlight .sa  { color: var(--red) }
.highlight .sb  { color: var(--green) }
.highlight .sc  { color: var(--green) }
.highlight .sd  { color: var(--green) }
.highlight .s2  { color: var(--green) }
.highlight .se  { color: var(--green) }
.highlight .sh  { color: var(--green) }
.highlight .si  { color: var(--green) }
.highlight .sx  { color: var(--green) }
.highlight .sr  { color: var(--green) }
.highlight .s1  { color: var(--green) }
.highlight .ss  { color: var(--green) }
.highlight .bp  { color: var(--gray) }
.highlight .vc  { color: var(--orange) }
.highlight .vg  { color: var(--orange) }
.highlight .vi  { color: var(--orange) }
.highlight .il  { color: var(--orange) }

.jp-InputPrompt, .jp-OutputPrompt {
  display: none;
}
.jp-RenderedHTMLCommon a,
.jp-RenderedHTMLCommon a:hover,
.jp-RenderedHTMLCommon a:visited,
.jp-RenderedHTMLCommon code {
  color: var(--blue);
  text-decoration: none;
}
.jp-RenderedHTMLCommon a:hover {
  opacity: 0.75;
}

a.anchor-link {
  opacity: 0;
  font-size: .8em;
  margin-left: 0.2em;
  display: unset;
  padding: 0 4px;
  text-decoration: none;
  transition: all .3s ease-out;
  user-select: none;
}
a.anchor-link:hover {
  background-color: transparent;
  opacity: 1!important;
}
h1:hover a.anchor-link, h2:hover a.anchor-link, h3:hover a.anchor-link, h4:hover a.anchor-link, h5:hover a.anchor-link {
  opacity: .5;
  color: var(--green);
}
.celltag_remove-output .jp-Cell-outputWrapper {
  display: none;
}
.celltag_remove-input .jp-Cell-inputWrapper {
  display: none;
}
.celltag_full-width .jp-Cell-outputWrapper {
  max-width: 140%;
  width: 140%;
  margin-left: -20%;
  margin-right: 20%;
}


/* Collapsible cell content */
div.above-output-prompt .jp-InputArea {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
div.below-output-prompt .jp-InputArea {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div.jp-Cell details.above-input>summary {
  color: var(--black) !important;
  background: var(--highlight-background);
  border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
  padding-left: 1em;
  padding-right: 0em;
  border-radius: var(--border-radius);
  border-left: var(--border-left);
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}

div.jp-Cell details.above-input.hide[open]>summary {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.jp-Cell details.above-output>summary {
  background-color: var(--highlight-background);
  border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
  padding-left: 1em;
  padding-right: 0em;
  border-top: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-left: var(--border-left);
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}

div.jp-Cell details.below-input>summary {
  background-color: var(--highlight-background);
  border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
  padding-left: 1em;
  padding-right: 0em;
  border-top: none;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-left: var(--border-left);
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}

details summary {
  cursor: pointer;
}
details summary::marker {
  color: var(--gray);
}

div.jp-Cell details.hide>summary>span {
  color: var(--gray);
  /* opacity: 70%; */
}

div.jp-Cell details.hide[open]>summary>span.collapsed {
  display: none;
}

div.jp-Cell details.hide:not([open])>summary>span.expanded {
  display: none;
}

@keyframes collapsed-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
div.jp-Cell details.hide[open]>summary~* {
  -moz-animation: collapsed-fade-in 0.3s ease-in-out;
  -webkit-animation: collapsed-fade-in 0.3s ease-in-out;
  animation: collapsed-fade-in 0.3s ease-in-out;
}
